@page "/donthaveskills"
    <h4>Don't Have Skills Prioritized</h4>
    <br />
    <div class="row">
        <div class="col">
            JavaScript Frameworks (React, Vue, Node):
        </div>
        <div class="col">
            Will be learning React in GUI, Plan on Making a version of my portfolio in Vue.
        </div>
        <div class="col">
            15 hours to learn both frameworks
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Responsive Design:
        </div>
        <div class="col">
            I will use responive design elements when I make the Vue and React versions of my Portfolio
        </div>
        <div class="col">
            Part of the 15 hours for React and Vue.
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Front End Development Experience:
        </div>
        <div class="col">
            Building a Vue and React UI will be the experience.
        </div>
        <div class="col">
            15 hours will be apart of the Frameworks hours.
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            GoLang:
        </div>
        <div class="col">
            Take the API made in C# and remake it in python
        </div>
        <div class="col">
            Take me 7 hours to Learn.
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            TypeScript:
        </div>
        <div class="col">
            I will use TypeScript in my react portfolio UI. 
        </div>
        <div class="col">
            Take me 3 hours to Learn.
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            JSON:
        </div>
        <div class="col">
            In GUI we are building a API to send data to the UI layers that we are making for the porfolio. I will use JSON to send data from the API to the UI.
        </div>
        <div class="col">
            Take me 3 hours to Learn
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Python:
        </div>
        <div class="col">
            Take the API made in C# and remake it in python
        </div>
        <div class="col">
            Take me 7 hours to Learn
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            REST API:
        </div>
        <div class="col">
            In GUI we are building a API to send data to the UI layers that API will be a REST API.
        </div>
        <div class="col">
            Take me 3 hours to Learn
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Docker:
        </div>
        <div class="col">
            I learn how to host my database for the API in Docker.
        </div>
        <div class="col">
            Take me 3 hours to Learn
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            UI/UX Development Experience:
        </div>
        <div class="col">
            While building the Final Project in GUI I will use UI/UX tools to design the project.
        </div>
        <div class="col">
            Take me 8 hours to Learn
        </div>
    </div>
    <br/>

    <h4>Don't Have Skills Un-Prioritized</h4>
    <br />
    <div class="row">
        <div class="col">
            Multiple different programming paradigm
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Unit Testing with Selenium, Cucumber. 
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            2+ years of full-time work experience as a software engineer
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Open source
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Full stack developer a plus
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Google Cloud Platform
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Mobile Frameworks
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            5 years od experience with front end and back end
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            AWS/LAMP environment
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            GraphQL
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            MEAN stack and/or Rails experience
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Photoshop
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            WordPress
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Blockchain Experience (Dash, Bitcoin)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Familiar with Apache NiFi to create and manage data extract, transform, load (ETL) operations for critical data flows
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Redis
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            kafka
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Envoy
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Security
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            KnockoutJS
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Entity Framework
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Experience with Three.js and 3D modeling
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Ruby
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            OWASP Top 10
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            SOLID/DDD/CQRS patterns knowledge
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            CQRS/ES/Actor knowledge
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Experience With Scaleable Web Services
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            MVC
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Create Architectural System Design and Analysis
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Cross-Browser, Cross-Platform testing experience
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Shopify
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Experience with Elastic Stack technologies (ElasticSearch, Logstash, Kibana) to provide metrics and monitoring of distributed microservices
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Automated Deployment Strategies
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Experience working with authentication systems and protocols such as OAuth, Open ID, SAML, JWT, etc a plus
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            gRPC
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            Websockets
        </div>
    </div>
    <br />


    @code {

    }
