@page "/"

<h1>Jaaron Nielsen's Portfolilo</h1>

<a href="https://www.linkedin.com/in/jaaron-nielsen-a9513412a/">Visit my LinkedIn</a>
<br/>
<p>Email me at nielsenjaaron@gmail.com</p>
<br/>
<div>
    <img src="Images/resume.png" />
</div>
