@page "/editproject/{Slug}"
@inject Portfolio.BlazorWasm.ProjectApiService projectApi
@using Portfolio.shared

<div style="height:800px;overflow-y:scroll">
    <EditProjectComponent Slug="@Slug" />

    <hr />

    <AddSkills Slug="@Slug" />
</div>

@code {
    [Parameter]
    public string Slug { get; set; }
}
