@page "/editproject/{Id:int}"
@inject Portfolio.BlazorWasm.ProjectApiService projectApi
@using Portfolio.shared

<h3>EditProject</h3>

<input @bind-value="newProjectName">
<input @bind-value="newRequirements">
<input @bind-value="newDesign">
<input @bind-value="newCompletedDate">
<button @onclick="Edit">Edit Project</button>

<div>
    <p>@project.Title</p>
    <p>@project.Requirements</p>
    <p>@project.Design</p>
    <p>@project.CompletedDate</p>
</div>



@code {
    [Parameter]
    public int id { get; set; }
    private string newProjectName;
    private string newRequirements;
    private string newDesign;
    private DateTime newCompletedDate;
    private Project project = new Project();

    public void Edit()
    {
        project.Title = newProjectName ?? project.Title;
        project.Requirements = newRequirements ?? project.Requirements;
        project.Design = newDesign ?? project.Design;
        project.CompletedDate = newCompletedDate;
        projectApi.EditProject(project);
    }

    protected override async Task OnInitializedAsync()
    {
        project = await projectApi.GetProject(id);
        newProjectName = project.Title;
        newRequirements = project.Requirements;
        newDesign = project.Design;
        newCompletedDate = project.CompletedDate;
    }
}
