@page "/editproject/{Slug}"
@inject Portfolio.BlazorWasm.ProjectApiService projectApi
@using Portfolio.shared


    <EditProjectComponent Slug="@Slug" />

    <hr />

    <AddSkills Slug="@Slug" />

    <hr />
    <div style="height:600px;overflow-y:scroll">
        <SingleProject Slug="@Slug" />

        <br />

        <DisplaySkills Slug="@Slug" />
    </div>
   





@code {
    [Parameter]
    public string Slug { get; set; }
}
