@page "/"
@inject NavigationManager uriHelper

<div style="height:800px;overflow-y:scroll">
    <button class="btn-success" @onclick="(() => NavToAddProject())">Add Project</button>
    <ProjectList />
</div>
  >




@code {
    private void NavToAddProject()
    {
        uriHelper.NavigateTo("addprojectpage/");
    }
}