@page "/language/{Slug}"
@inject Portfolio.BlazorWasm.ProjectApiService projectApi
@using Portfolio.shared

<h3>Languages</h3>
<h4>@Language.Name</h4>
<div style="height:600px;overflow-y:scroll">
    @foreach (var p in projects)
    {
        <ul>
            <li><a href="editproject/@p.Slug">@p.Title</a></li>

        </ul>
    }
</div>

@code {
    [Parameter]
    public string Slug { get; set; }
    
    private Language Language = new Language();
    private IEnumerable<Project> projects = new List<Project>();


    protected override async Task OnInitializedAsync()
    {
        Language = await projectApi.GetLanguageBySlugAsync(Slug);
        projects = await projectApi.getProjectsForLanguages(Language.Id);
    }
}
