@page "/platform"
@inject Portfolio.BlazorWasm.ProjectApiService projectApi
@using Portfolio.shared

<h3>Platform</h3>

<h4>@project.ProjectPlatforms.Select(x => x.Platform.Name)</h4>
<p><a href="editproject/@project.Id">@project.Title</a></p>
@code {
    [Parameter]
    public int Id { get; set; }
    private Platform platform = new Platform();
    private Project project = new Project();

    async Task refreshAsync() => project = await projectApi.GetProjectByIDAsync(Id);
    protected override async Task OnInitializedAsync()
    {
        if (Id == 0)
            return;
        project = await projectApi.GetProjectByIDAsync(Id);
        await refreshAsync();
    }
}
