@page "/platform/{Id:int}/{Name}"
@inject Portfolio.BlazorWasm.ProjectApiService projectApi
@using Portfolio.shared

<h3>Platform</h3>
<h4>@Name</h4>
<div>
    @foreach (var p in projects)
    {
        string link = $"/editproject/{p.Id}";
        <ul>
            <li><a href="editproject/@p.Id">@p.Title</a></li>

        </ul>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Name { get; set; }
    private IEnumerable<Project> projects = new List<Project>();


    protected override async Task OnInitializedAsync()
    {
        projects = await projectApi.getProjectsForPlatforms(Id);
    }
}
