@page "/platform/{Slug}"
@inject Portfolio.BlazorWasm.PublicProjectApiService projectApi
@using Portfolio.shared

<h3>Platform</h3>
<h4>@Platform.Name</h4>
<div style="height:800px;overflow-y:scroll">
    @foreach (var p in projects)
    {
        <ul>
            <li><a href="viewproject/@p.Slug">@p.Title</a></li>

        </ul>
    }
</div>

@code {
    [Parameter]
    public string Slug { get; set; }
    public Platform Platform = new Platform();
    private IEnumerable<Project> projects = new List<Project>();


    protected override async Task OnInitializedAsync()
    {
        Platform = await projectApi.GetPlatformBySlugAsync(Slug);
        projects = await projectApi.getProjectsForPlatforms(Platform.Id);
    }
}
