@page "/technology/{Slug}"
@inject Portfolio.BlazorWasm.ProjectApiService projectApi
@using Portfolio.shared

<h3>Technologies</h3>
<h4>@Technology.Name</h4>
<div>
    @foreach (var p in projects)
    {
        <ul>
            <li><a href="editproject/@p.Slug">@p.Title</a></li>

        </ul>
    }
</div>

@code {
    [Parameter]
    public string Slug { get; set; }
    public Technology Technology = new Technology();
    private IEnumerable<Project> projects = new List<Project>();


    protected override async Task OnInitializedAsync()
    {
        Technology = await projectApi.GetTechnologyBySlugAsync(Slug);
        projects = await projectApi.getProjectsForTechnologies(Technology.Id);
    }
}
