@page "/viewproject/{Slug}"
@inject Portfolio.BlazorWasm.ProjectApiService projectApi
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager uriHelper
@using Portfolio.shared


<div style="height:800px;overflow-y:scroll">

    <SingleProject Slug="@Slug" />

    <hr />

    <DisplaySkills Slug="@Slug" />

    <hr />
    @if (isAdmin)
    {
        <button class="btn-warning" @onclick="(() => NavToEdit(Slug))">Edit</button>
    }

</div>

@code {
    [Parameter]
    public string Slug { get; set; }
    bool isAdmin;

    private void NavToEdit(string slug)
    {
        uriHelper.NavigateTo("editproject/" + slug);
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var roles = from c in authState.User.Claims
                    where c.Type == "https://schemas.dev-ztkpmk50.com/roles"
                    select c.Value;
        isAdmin = roles.Any(r => r.Contains("Admin"));
    }
}

