@inject Portfolio.BlazorWasm.ProjectApiService projectApi
@inject NavigationManager uriHelper

@using Portfolio.shared

<h3>Add a project</h3>
<input @bind-value="newProjectName" placeholder="Title">
<input @bind-value="newRequirements" placeholder="Requirments">
<input @bind-value="newDesign" placeholder="Design">
<input @bind-value="newCompletedDate" placeholder="Date Completed">
<button @onclick="addProject">Add Project</button>
<hr />

@code {
    private string newProjectName;
    private string newRequirements;
    private string newDesign;
    private DateTime newCompletedDate;

    private async Task addProject()
    {
        var project = new Project
        {
            Title = newProjectName,
            Requirements = newRequirements,
            Design = newDesign,
            CompletedDate = newCompletedDate
        };
        await projectApi.AddProjectAsync(project);

    }
}
