<header>
    <div class="wrapper">
        <div class="logo">
            <a href="">Jaaron Nielsen Software Engineer</a>
        </div>
        <nav class="navbar-top">
            <a href="">Home</a>
            <a href="resume">Resume</a>
            <a href="skills">Skills</a>
            <a href="donthaveskills">Don't Have Skills</a>
            <a href="https://www.linkedin.com/in/jaaron-nielsen-a9513412a/">LinkedIn</a>
            <a href="mailto:nielsenjaaron@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
            <AccessControl />
        </nav>
    </div>
</header>




@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
