@*<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Jaaron's Portfolio</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="resume">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Resume
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Skills
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="donthaveskills">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Don't Have Skills
            </NavLink>
        </li>
    </ul>
</div>*@
<header>
    <div class="wrapper">
        <div class="logo">
            <a href="">Jaaron Nielsen Software Engineer</a>
        </div>
        <nav class="navbar-top">
            <a href="">Home</a>
            <a href="resume">Resume</a>
            <a href="skills">Skills</a>
            <a href="donthaveskills">Don't Have Skills</a>
            <a href="https://www.linkedin.com/in/jaaron-nielsen-a9513412a/">LinkedIn</a>
            <a href="mailto:nielsenjaaron@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
        </nav>
    </div>
</header>




@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
