nav {
    width: 55%;
    float: right;
    line-height: 100px;
}

nav a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
}


.logo {
    width: 42%;
    float: left;
    line-height: 100px;
}
.logo a {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 2px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 12;
    position: fixed;

}

.banner-area {
    width: 100%;
    position: fixed;
    top: 125px;

}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}